.posts {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.singlePost {
    width: 70%;
    margin: 25px 25px 45px 100px;
}

.postTitle {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.postText {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    text-indent: 15px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.postTopic {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #777;
    cursor: pointer;
}