@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&family=Lora:ital@1&family=Varela+Round&display=swap");

/* 
titles
font-family: 'Josefin Sans', sans-serif;

font-family: 'Lora', serif;

all text
    font-family: 'Varela Round', sans-serif;
*/

* {
	margin: 0;
}

*:focus {
    outline: none;
}

html {
    overflow-y: overlay;
}